:root {
  --primary: #7645d9;
  --secondary: limegreen;
}

body {
  background-color: white;
}

/* Main Header */
.title-header {
  color: black;
  text-shadow: 2px 2px 2px var(--secondary);
}

/* Nav */
/* .navbar {
  background-color: grey;
} */

.navbar-item:hover {
  /* border-bottom: 2px solid var(--secondary); */
  text-shadow: var(--secondary) 1px 0 10px;
}

/* About Section */
.about-header {
  border-bottom: 3px solid black;
  margin: 0px 10% 50px 10%;
  padding-bottom: 25px;
}

.personal-image {
  max-width: 250px !important; 
  max-height: 250px !important;
  border-radius: 20%;
}

.about-section-1 {
  width: 30%;
}

.about-section-2 {
  width: 70%;
}

.about-paragraph-2 {
  width: 70%;
}

/* Contact */
.contact {
  margin-top: 10%;
}

/* Portfolio */
.project {
  min-width: 364px;
  min-height: 268px;
}

/* Footer */
#Footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 120px;   /* Height of the footer */
   background: slategray;
}

.github-icon-footer {
  margin-top: 15px;
}

.github-icon-footer:hover {
  color: white;
}

.linkedin-icon-footer {
  margin-top: 15px;
}

.linkedin-icon-footer:hover {
  color: white;
}