@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(24, 24, 24);
  --secondary: rgb(29, 29, 29);
  --tertiary: rgb(8,253,216);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary);
}

/* Main Header */
.title-header {
  color: var(--tertiary);
  font-family: "Play";
}

/* Nav */
.navbar {
  background-color: var(--primary);
}

.navbar-item {
  color: var(--tertiary);
}

.navbar-item:hover {
  text-shadow: var(--tertiary) 1px 0 10px;
}

/* About Section */
.about-header {
color: var(--tertiary);
font-family: "Play";
}

.about-section {
  width: 70%;
}

.about-section-text {
font-family: "Exo";
font-weight: 600;
font-size: 20px;
text-align: start;
text-indent: 1.5rem;
color: white;
}

.about-span {
  color: var(--tertiary);
}

.personal-image {
  max-width: 250px !important; 
  max-height: 250px !important;
  border-radius: 20%;
  box-shadow: 0 0 15px rgba(8, 253, 216, 0.5);
}

h1 {
  text-align: center;
  font-size: 35px;
  color: var(--tertiary);
}
form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
input,
textarea {
  background-color: #f1f1f1;
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: "Exo";
  font-size: 18px;
  resize: none;
}
#input-submit {
  color: var(--tertiary);
  background: var(--secondary);
  border: 2px solid var(--tertiary);
  cursor: pointer;
}
#input-submit:hover {
  box-shadow: 0 1px 1px 1px rgba(8,253,216, 0.2);
  background: var(--tertiary);
  color: var(--secondary);
}
textarea {
  height: 126px;
}

/* Portfolio */
.project {
  min-width: 364px;
  min-height: 268px;
}

/* Contact */
.contact {
  margin-top: 10%;
}

.contact-h1 {
  font-family: "Fjalla One";
  font-size: 64px;
}

.contact-submit {
  font-family: "Martian Mono";
  transition: 0.5s ease-out all;
}

/* Footer */
#Footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 120px;
   background: var(--secondary);
}

.github-icon-footer {
  margin-top: 15px;
  color: var(--tertiary);
}

.github-icon-footer:hover {
  color: darkcyan;
}

.linkedin-icon-footer {
  margin-top: 15px;
  color: var(--tertiary);
}

.linkedin-icon-footer:hover {
  color: darkcyan;
}