@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(24, 24, 24);
  --secondary: rgb(29, 29, 29);
  --tertiary: rgb(8,253,216);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary);
}

/* Main Header */
.title-header {
  color: var(--tertiary);
  font-family: "Play";
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/* Nav */
.navbar {
  background-color: var(--primary);
  width: fit-content;
}

.navbar-item {
  color: var(--tertiary);
}

.navbar-item:hover {
  text-shadow: var(--tertiary) 1px 0 10px;
}

/* About Section */
.about-header {
color: var(--tertiary);
font-family: "Play";
}

.about-section {
  width: 70%;
}

.about-section-text {
font-family: "Exo";
font-weight: 600;
font-size: 20px;
text-align: start;
text-indent: 1.5rem;
color: white;
}

.about-span {
  color: var(--tertiary);
}

.personal-image {
  max-width: 250px !important; 
  max-height: 250px !important;
  border-radius: 20%;
  box-shadow: 0 0 15px rgba(8, 253, 216, 0.5);
}

h1 {
  text-align: center;
  font-size: 35px;
  color: var(--tertiary);
}
form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
input,
textarea {
  background-color: #f1f1f1;
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: "Exo";
  font-size: 18px;
  resize: none;
}
#input-submit {
  color: var(--tertiary);
  background: var(--secondary);
  border: 2px solid var(--tertiary);
  cursor: pointer;
}
#input-submit:hover {
  box-shadow: 0 1px 1px 1px rgba(8,253,216, 0.2);
  background: var(--tertiary);
  color: var(--secondary);
}
textarea {
  height: 126px;
}

/* Portfolio */
.project-page-header {
  font-family: "Exo";
  font-weight: bold;
}

.project {
  min-height: 364px;
  min-width: 268px;
  background-color: white;
  border: 2px solid var(--tertiary);
}

.project:hover {
  border: 2px solid white;
  opacity: .8;
}

.react-responsive-modal-modal {
  background-color: var(--secondary);
  color: var(--tertiary);
  border: 2px solid var(--tertiary);
  border-radius: 8px;
}

.react-responsive-modal-closeButton {
  background-color: var(--tertiary);
  border-radius: 8px;
}

.project-modal-info {
  font-size: 22px;
  font-family: "Fredoka One";
}

.technology {
  background-color: white;
  width: fit-content;
}

.jQuery {
  align-self: center;
}

.person-icon {
  font-size: 48px;
  color: var(--tertiary);
}

.modal-divide {
  border-top: 2px solid var(--tertiary);
}

.meal-maker {
  width: stretch;
  max-height: 460px;
}

.tech-blog {
  width: stretch;
  max-height: 450px;
}

.work-day-scheduler {
  width: stretch;
  max-height: 420px;
}

/* Contact */
.contact {
  margin-top: 10%;
}

.contact-h1 {
  font-family: "Fjalla One";
  font-size: 80px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--tertiary), 0 0 20px var(--tertiary), 0 0 25px var(--tertiary), 0 0 30px var(--tertiary), 0 0 35px var(--tertiary);
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--tertiary), 0 0 20px var(--tertiary), 0 0 25px var(--tertiary), 0 0 30px var(--tertiary), 0 0 35px var(--tertiary);
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--tertiary), 0 0 40px var(--tertiary), 0 0 50px var(--tertiary), 0 0 60px var(--tertiary), 0 0 70px var(--tertiary);
  }
}

.contact-submit {
  font-family: "Martian Mono";
  transition: 0.5s ease-out all;
}

/* Resume */
.skills-header {
  color: var(--tertiary);
  font-family: "Play";
  font-size: 100px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--tertiary), 0 0 20px var(--tertiary), 0 0 25px var(--tertiary), 0 0 30px var(--tertiary), 0 0 35px var(--tertiary);
  animation: glow 1s ease-in-out infinite alternate;
}

.skill-section-header {
color: var(--tertiary);
text-align: center;
border-bottom: 3px solid var(--tertiary);
padding: 6px;
margin-bottom: 6px;
}

.frontend-skills {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}

.frontend-skill {
  font-family: "Acme";
  background-color: var(--tertiary);
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  margin: 8px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--tertiary), 0 0 20px var(--tertiary), 0 0 25px var(--tertiary), 0 0 30px var(--tertiary), 0 0 35px var(--tertiary);
  animation: glow 1s ease-in-out infinite alternate;
}

.skill-border {
  border: 2px solid var(--tertiary);
}

.backend-skills {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--tertiary), 0 0 20px var(--tertiary), 0 0 25px var(--tertiary), 0 0 30px var(--tertiary), 0 0 35px var(--tertiary);
  animation: glow 1s ease-in-out infinite alternate;
}

.backend-skill {
  font-family: "Acme";
  background-color: var(--tertiary);
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  margin: 8px;
}

.resume-download {
  color: var(--tertiary);
}

/* Footer */
#Footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 120px;
   position: relative;
   background: var(--secondary);
}

.github-icon-footer {
  margin-top: 15px;
  color: var(--tertiary);
}

.github-icon-footer:hover {
  color: darkcyan;
}

.linkedin-icon-footer {
  margin-top: 15px;
  color: var(--tertiary);
}

.linkedin-icon-footer:hover {
  color: darkcyan;
}

/* .active {
  border: 6px solid yellow;
} */

/* Media Queries */
@media screen and (min-width: 320px) {
  .navbar {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

    .navbar-ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .title-header {
    font-size: 48px;
  }

  .navbar-item {
    padding: auto;
    margin: auto;
    font-size: 28px;
    padding: 0px 20px;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: fit-content;
  }

  .navbar {
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .title-header {
    font-size: 36px;
  }

  .navbar-ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .navbar-item {
    padding: auto;
    margin: auto;
    font-size: 24px;
    padding: 0px 20px;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: fit-content;
  }

  .navbar {
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .title-header {
    font-size: xx-large;
  }

  .navbar-ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .navbar-item {
    padding: auto;
    margin: auto;
    font-size: medium;
    padding: 0px 20px;
  }
}

@media screen and (max-width: 600px) {
  .react-responsive-modal-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  body {
    width: fit-content;
  }

  .navbar {
    width: 100%;
  }

  .navbar-item {
    padding: 0px 16px;
  }
}